* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background: url("../images/Background_small.png") no-repeat center;
  background-size: cover;
}

.page-header__heading {
  width: 45%;
  margin: 0 auto;
}

.page-header__logo {
  margin-top: 20px;
  width: 100%;
  padding: 1vh 0;
  opacity: .6;
}

.section__heading {
  font-family: "Titillium Web";
  font-weight: 400;
  text-align: center;
  font-size: 32px;
  margin: 10px auto;
  color: #fff;
  text-shadow: 1px 1.73px 2px #000;
}

.section .form {
  border: 20px solid rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  font-size: 16px;
}

.section .form__wrapper {
  border: 1px solid #F4F4F4;
  border-radius: 5px;
  background-color: #F4F4F4;
}

.section .form__input-container {
  display: block;
}

.section .form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(112, 112, 112, 0.5);
  margin: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#9A9A9A));
  background-image: linear-gradient(#F7F7F7, #9A9A9A);
  border: 2px solid #C6C6C6;
  border-radius: 5px;
}

.section .form .input-container__icon {
  text-align: center;
  font-size: 1.6rem;
  color: #DEDEDE;
  padding: 5px 10px;
  margin: 2px 5px;
  min-width: 45px;
  border-right: 2px solid;
}

.section .form .input-container__input {
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 300;
  color: #777;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#9A9A9A));
  background-image: linear-gradient(#F7F7F7, #9A9A9A);
  padding-left: 15px;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section .form .input-container__label {
  display: none;
}

.section .form .input-container__textarea {
  font-family: "Titillium Web";
  font-weight: 300;
  font-size: 16px;
  color: #AFAFAF;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#9A9A9A));
  background-image: linear-gradient(#F7F7F7, #9A9A9A);
  border: none;
  padding: 10px;
  resize: none;
}

.section .form .checkbox-container {
  color: #AFAFAF;
  font-family: "Titillium Web";
  font-weight: 300;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.section .form .checkbox-container__checkbox {
  display: none;
}

.section .form .checkbox-container__checkbox + label span {
  display: inline-block;
  height: 25px;
  width: 25px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#9A9A9A));
  background-image: linear-gradient(#F7F7F7, #9A9A9A);
  border: 2px solid #C6C6C6;
  border-radius: 5px;
}

.section .form .checkbox-container__checkbox:checked + label span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B9E076), to(#5E851B));
  background-image: linear-gradient(#B9E076, #5E851B);
  border-radius: 2px;
}

.section .form .checkbox-container__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.section .form .checkbox-container__label .text {
  display: inline-block;
  letter-spacing: .5px;
  margin-left: 15px;
}

.section .form .form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .form .form__buttons .form__button {
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 400;
  text-shadow: 0.56px 0.83px 0px #51850E;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 20px 15px 20px;
  padding: 5px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B9E076), to(#5E851B));
  background-image: linear-gradient(#B9E076, #5E851B);
  border: 2px solid #7FBC5A;
  border-radius: 3px;
  cursor: pointer;
}

.section .form .form__buttons .form__button--red {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F58793), to(#9E303C));
  background-image: linear-gradient(#F58793, #9E303C);
  border-color: #C26F75;
  text-shadow: 0.56px 0.83px 0px #9E303C;
}

.section .form .form__buttons .form__button--small {
  font-size: 18px;
}

.section .form .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .form .button-wrapper__checkbox {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 5px 10px 10px 20px;
}

.section .form .button-wrapper__button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

input::-webkit-calendar-picker-indicator {
  opacity: 100;
  color: #DEDEDE;
}

input::-webkit-calendar-picker-indicator:hover {
  background-color: transparent;
}

.footer {
  width: 30vw;
  margin-top: 200px;
  opacity: .6;
}

@media (min-width: 900px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    margin-bottom: 5vh;
    max-height: 1500px;
  }
  .section {
    height: 100%;
    width: 40%;
    margin: 0 auto;
  }
  .section--register {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .section--send {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .section--sign {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .section--recover {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .section--subscribe {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .footer {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 35%;
    margin-top: 5vh;
    margin-right: auto;
    margin-left: auto;
  }
  .footer img {
    display: block;
  }
  .footer__logo {
    width: 100%;
  }
  .footer__ref {
    margin: 1vh auto;
  }
}

@media (max-width: 899px) {
  .section {
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }
  .footer {
    width: 50%;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
  }
  .footer img {
    display: block;
  }
  .footer__logo {
    width: 100%;
  }
  .footer__ref {
    margin: 1vh auto;
  }
}

@media (max-width: 400px) {
  .page-header__heading {
    width: 80%;
  }
  .section {
    height: 100%;
    width: 90%;
    margin: 0 auto;
  }
  .section .form .input-container__icon {
    font-size: 1.2rem;
    padding: 5px 5px;
    margin: 2px 5px;
    min-width: 35px;
  }
  .section .form .input-container__input {
    font-size: 14px;
    padding-left: 10px;
    width: 100%;
  }
  .section .form .checkbox-container {
    font-size: 14px;
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  .section .form .checkbox-container__label .text {
    display: inline-block;
    letter-spacing: .5px;
    margin-left: 5px;
  }
  .footer__logo {
    width: 100%;
  }
  .footer__ref {
    margin: 1vh auto;
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */