* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  background-image: url("../images/Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-header__heading {
  width: 40%;
  margin: 0 auto;
}

.page-header__logo {
  width: 100%;
  padding: 1vh 0;
  opacity: 1;
}

.wrapper {
  border: 2px dotted blue;
}

.section {
  height: 100%;
  width: 40%;
}

.section__heading {
  font-family: "Titillium Web";
  font-weight: 400;
  text-align: center;
  font-size: 32px;
  margin: 10px auto;
  color: #fff;
  text-shadow: 1px 1.73px 2px #000;
}

.section .form {
  border: 20px solid rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  font-size: 16px;
}

.section .form__wrapper {
  border: 1px solid #F4F4F4;
  border-radius: 5px;
  background-color: #F4F4F4;
}

.section .form__input-container {
  display: block;
}

.section .form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(112, 112, 112, 0.5);
  margin: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#9A9A9A));
  background-image: linear-gradient(#F7F7F7, #9A9A9A);
  border: 2px solid #C6C6C6;
  border-radius: 5px;
}

.section .form .input-container__icon {
  text-align: center;
  font-size: 1.6rem;
  color: #DEDEDE;
  padding: 5px 10px;
  margin: 2px 5px;
  min-width: 45px;
  border-right: 2px solid;
}

.section .form .input-container__input {
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 300;
  color: #AFAFAF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#9A9A9A));
  background-image: linear-gradient(#F7F7F7, #9A9A9A);
  padding-left: 15px;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section .form .input-container__label {
  display: none;
}

.section .form .input-container__textarea {
  font-family: "Titillium Web";
  font-weight: 300;
  font-size: 16px;
  color: #AFAFAF;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#9A9A9A));
  background-image: linear-gradient(#F7F7F7, #9A9A9A);
  border: none;
  padding: 10px;
  resize: none;
}

.section .form .checkbox-container {
  color: #AFAFAF;
  font-family: "Titillium Web";
  font-weight: 300;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.section .form .checkbox-container__checkbox {
  display: none;
}

.section .form .checkbox-container__checkbox + label span {
  display: inline-block;
  height: 25px;
  width: 25px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#9A9A9A));
  background-image: linear-gradient(#F7F7F7, #9A9A9A);
  border: 2px solid #C6C6C6;
  border-radius: 5px;
}

.section .form .checkbox-container__checkbox:checked + label span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B9E076), to(#5E851B));
  background-image: linear-gradient(#B9E076, #5E851B);
  border-radius: 2px;
}

.section .form .checkbox-container__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.section .form .checkbox-container__label .text {
  display: inline-block;
  letter-spacing: .5px;
  margin-left: 15px;
}

.section .form .form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .form .form__buttons .form__button {
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 400;
  text-shadow: .56px .83px 0px #51850E;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 15px 15px 15px;
  padding: 5px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B9E076), to(#5E851B));
  background-image: linear-gradient(#B9E076, #5E851B);
  border: 2px solid #7FBC5A;
  border-radius: 3px;
  cursor: pointer;
}

.section .form .form__buttons .form__button--red {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F58793), to(#9E303C));
  background-image: linear-gradient(#F58793, #9E303C);
  border-color: #C26F75;
  text-shadow: .56px .83px 0px #9E303C;
}

.section .form .form__buttons .form__button--small {
  font-size: 18px;
}

.section .form .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .form .button-wrapper__checkbox {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 5px 10px 10px 15px;
}

.section .form .button-wrapper__button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer {
  width: 400px;
  border: 5px solid green;
}
/*# sourceMappingURL=style.css.map */