$mainFont: 'Titillium Web';
$inputGradient: linear-gradient(#F7F7F7, #9A9A9A);
$greenGradient: linear-gradient(#B9E076, #5E851B);
$redGradient: linear-gradient(#F58793, #9E303C);

// $breakpoints: (xsmall: (min-width: 460px),
//     small: (min-width: 640px),
//     medium: (min-width: 800px),
//     large: (min-width: 1024px),
//     xlarge: (min-width: 1200px),
//     xxlarge: (min-width: 1440px));