@import "variables";
@import "reset";
@import "base";

// $ - rodzic - uzywac w definiowaniu selektorow BEM

// $nazwazmiennej: wartosc;

// definicja domieszki do zapytan o media: @mixin mq($breakpoint) {
//     $size: map-get($breakpoints, $breakpoint);

//     @if($size) {
//         @media #{$size} {
//             @content;
//         }
//     }

//     @else {
//         @error '"#{$breakpoint}" - błąd';
//     }
// }

// uzycie domieszki do MQ: @include mq(xsmall) {
//     font-size: 18px;
// }

// ---------------HEADER------------------

.page-header {

    &__heading {
        width: 40%;
        margin: 0 auto;
    }

    &__logo {
        width: 100%;
        padding: 1vh 0;
        opacity: 1; // czy powinno byc opacity? chyba nie
    }
}

// ---------------WRAPPER------------------

.wrapper {
    border: 2px dotted blue;
}

// ---------------FORMS--------------------

.section {
    height: 100%;
    width: 40%;

    &__heading {
        font-family: $mainFont;
        font-weight: 400;
        text-align: center;
        font-size: 32px;
        margin: 10px auto;
        color: #fff;
        text-shadow: 1px 1.73px 2px #000;
    }

    .form {
        border: 20px solid rgba(0, 0, 0, 0.23);
        border-radius: 5px;
        font-size: 16px;

        &__wrapper {
            border: 1px solid #F4F4F4;
            border-radius: 5px;
            background-color: #F4F4F4;
        }

        &__input-container {
            display: block;
        }

        .input-container {
            display: flex;
            color: rgba(112, 112, 112, 0.5);
            margin: 15px;
            background-image: $inputGradient;
            border: 2px solid #C6C6C6;
            border-radius: 5px;

            &__icon {
                text-align: center;
                font-size: 1.6rem;
                color: #DEDEDE;
                padding: 5px 10px;
                margin: 2px 5px;
                min-width: 45px;
                border-right: 2px solid;
            }

            &__input {
                font-family: $mainFont;
                font-size: 16px;
                font-weight: 300;
                color: #AFAFAF;
                background-image: $inputGradient;
                padding-left: 15px;
                border: none;
                flex-grow: 1;
            }

            &__label {
                display: none;
            }

            &__textarea {
                font-family: $mainFont;
                font-weight: 300;
                font-size: 16px;
                color: #AFAFAF;
                width: 100%;
                background-image: $inputGradient;
                border: none;
                padding: 10px;
                resize: none;
            }
        }

        .checkbox-container {
            color: #AFAFAF;
            font-family: $mainFont;
            font-weight: 300;
            font-size: 18px;
            margin: 15px;
            cursor: pointer;

            &__checkbox {
                height: 15px;
                width: 15px;
                margin: 5px 15px 5px 5px;
            }
        }

        .form__buttons {
            display: flex;

            .form__button {
                font-family: $mainFont;
                font-size: 24px;
                font-weight: 400;
                text-shadow: .56px .83px 0px #51850E;
                color: white;
                flex-grow: 1;
                margin: 0 15px 15px 15px;
                padding: 5px 0;
                background-image: $greenGradient;
                border: 2px solid #7FBC5A;
                border-radius: 3px;
                cursor: pointer;

                &--red {
                    background-image: $redGradient;
                    border-color: #C26F75;
                    text-shadow: .56px .83px 0px #9E303C;
                }

                &--small {
                    font-size: 18px;
                }
            }
        }

        .button-wrapper {
            display: flex;

            &__checkbox {
                flex-grow: 1;
                margin: 5px 10px 10px 15px;
            }

            &__button {
                flex-grow: 1;
            }
        }
    }
}

// ---------------FOOTER--------------------

.footer {
    width: 400px;
    border: 5px solid green;
}

// ---------------MEDIA QUERIES-------------

// @media(min-width: 800px) {

//     .wrapper {
//         display: flex;
//         flex-flow: column;
//         flex-wrap: wrap;
//         max-height: 90vh;
//         border: 2px dotted red;
//         overflow: hidden;
//     }

//     .section {
//         height: 100%;
//         width: 40%;

//         &--register {
//             order: 0;
//         }

//         &--sign {
//             order: 1;
//         }

//         &--send {
//             order: 2;
//         }

//         &--recover {
//             order: 3;
//         }

//         &--subscribe {
//             order: 4;
//         }
//     }

//     .footer {
//         order: 5;
//     }
// }